*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	color: #484848;
	background-color: #fff;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 11.5vw;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	width: 100%;
}

.header_top {
	height: 2.75em;
	width: 100%;
	background-color: #ffcb0f;
}

.header_top-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header_info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.header_phone,
.header_mail,
.header_schedule {
	position: relative;
	line-height: 1.5em;
	color: #000;
}

.header_phone::before,
.header_mail::before,
.header_schedule::before {
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	color: #000;
}

.header_phone {
	padding-left: 1.25em;
}

.header_phone::before {
	content: "\e900";
	top: 45%;
	left: -0.25em;
	font-size: 1.1em;
}

.header_mail {
	margin-left: 2em;
	padding-left: 1.875em;
}

.header_mail::before {
	content: "\f0e0";
	top: 50%;
	font-size: 0.95em;
}

.header_schedule {
	margin-left: 2em;
	padding-left: 1.625em;
}

.header_schedule::before {
	content: "\f017";
	top: 45%;
	font-size: 1em;
}

.header_social {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header_social a {
	height: 1.5em;
	width: 1em;
	margin: 0.625em 0.5em;
	position: relative;
}

#header_facebook::after {
	font-family: 'icomoon';
	content: "\f09a";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

#header_twiter::after {
	font-family: 'icomoon';
	content: "\f099";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

#header_behance::after {
	font-family: 'icomoon';
	content: "\f1b4";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

#header_dribbble::after {
	font-family: 'icomoon';
	content: "\f17d";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

#header_linkedin::after {
	font-family: 'icomoon';
	content: "\f0e1";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

#header_youtibe::after {
	font-family: 'icomoon';
	content: "\f167";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
	color: #222;
}

.navigation {
	background-color: #222533;
}

.navigation_content {
	min-height: 5.75em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	display: block;
	text-align: center;
	cursor: default;
}

.logo_top {
	font-family: 'Montserrat';
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	color: #ffcb0f;
}

.logo_botton {
	font-size: 0.88em;
	line-height: 1em;
	font-weight: 300;
	color: #b7b7b7;
}

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav li {
	margin: 0 0 0 2em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.nav li:first-child {
	margin: 0;
}

.nav a {
	font-size: 0.88em;
	line-height: 1em;
	font-weight: 300;
	color: #fff;
	transition-duration: 0.3s; 
}

.nav a:hover {
	color: #ffcb0f;
}

.nav_search {
	height: 2em;
	width: 2em;
	margin: 0 1.5em;
}

.search {
	height: 2em;
	width: 2em;
	display: flex;
	position: relative;
	border-radius: 50%;
	transition-duration: 0.3s !important;
}

.search:hover {
	background-image: linear-gradient(#FEEBAD, #ffcb0f);
}

.search::after {
	font-family: 'icomoon';
	content: "\f002";
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.1em;
	color: #ffcb0f;
}

.search:hover::after {
	color: #222533;
}

.header_main {
	min-height: 46.25em;
	padding: 7em 0 12.5em;
	background-color: #000;
	background-image: url(../../Images/Layer_9.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header_content {
	display: block;
	text-align: center;
}

.header_content-subtitle {
	font-size: 2.5em;
	line-height: 2.5em;
	font-weight: 300;
	color: #fff;
}

.header_content-title {
}

.header_content-title p {
	margin: 0;
	font-family: 'Montserrat', serif;
	font-size: 4.375em;
	line-height: 0.9em;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffcb0f;
}

.header_content-title p:first-of-type {
	color: #fff;
}

.header_content-text {
	max-width: 80%;
	margin: 1em auto;
	font-size: 1.3em;
	font-weight: 300;
	color: #fff;
}

.header_content-buttons {
	max-width: 24.25em;
	margin: 4em auto 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header_content-btn {
	padding: 1em 1.375em 0.925em;
	border-radius: 0.625em;
	font-family: 'Montserrat', serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	background-color: #ffcb0f;
}

.greeting {
	min-height: 29.5em;
	padding: 6em 0 3.5em;
}

.greeting_content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-around;	
}

.greeting_content-inside {
	max-width: 60%;
	min-width: 55%;
}

.greeting_title {
	font-family: 'Montserrat', serif;
	font-size: 2.625em;
	line-height: 0.875em;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffcb0f;
}

.greeting_subtitle {	font-family: 'Montserrat', serif;
	font-size: 1.95em;
	line-height: 0.9em;
	font-weight: 800;
}

.greeting_text {
	padding: 2em 0.5em;
	font-size: 0.95em;
}

.greeting_btn a {
	padding: 1em 1.375em 0.925em;
	display: inline-block;
	border-radius: 0.625em;
	font-family: 'Montserrat', serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	background-color: #ffcb0f;
}

.greeting_content-img {
	max-height: 90%;
	margin: -6em 0 -3.5em 1.5em;
	padding: 0 8.125em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: url(../../Images/Layer_2.png) center 74% no-repeat;
}

.greeting_content-img img {
	
}

.advantages {
	margin: 0 4vw;
	padding: 4.625em 0 4.5em;
	background-color: #f2f7fa;
}

.advantages_top {
	text-align: center;
}

.advantages_title {
	font-family: 'Montserrat', serif;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}

.advantages_text {
	margin: 1.5em 2.5em 0;
}

.advantages_content {
	margin-top: 2em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.advantages_content > div[class^="advantage"] {
	max-width: 17%;
	display: block;
}

.advantage_img-out {
	width: min-content;
	margin: 0 auto;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(255,203,15, 0.4);
}

.advantage_img-preout {
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(255,203,15, 0.4);
}

.advantage_img-quality,
.advantage_img-punctuality,
.advantage_img-enthusiasm,
.advantage_img-professionalism {
	height: 8.75em;
	width: 8.75em;
	position: relative;
	border: solid 10px #ffcb0f;
	border-radius: 50%;
	background-color: #fff;
}

.advantage_img-quality::before,
.advantage_img-punctuality::before,
.advantage_img-enthusiasm::before,
.advantage_img-professionalism::before {
	font-family: 'icomoon';
	content: "\f002";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.125em;
}

.advantage_img-quality::before  {
	content: "\f299";
	top: 52%;
	left: 52%;
}

.advantage_img-punctuality::before {
	content: "\f1e3";
}

.advantage_img-enthusiasm::before  {
	content: "\f0c0";
}

.advantage_img-professionalism::before {
	content: "\f201";
}

.advantage_title {
	margin-top: 1em;
	font-family: 'Montserrat', serif;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.advantage_text {
	margin-top: 1.125em;
	text-align: center;
	word-break: break-all;
}

.services {
	padding: 5.5em 0 6.25em;
}

.services_title {
	margin-bottom: 1.7em;
	font-family: 'Montserrat', serif;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.services_content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.service {
	width: 30.75%;
}

.service_img {
	height: auto;
	width: 100%;
	margin: 0;
	display: block;
}

.service_title {
	margin-top: 1.5em;
	font-family: 'Montserrat', serif;
	font-size: 1.25em;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.service_text {
	margin-top: 1.4em;
	line-height: 1.5em;
}

.our_works {
	padding: 4.375em 0 6.75em;
	background-color: #ffcb0f;
	background-image: url(../../Images/Layer_3.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.our_works-top {
	max-width: 77%;
	margin: 0 auto;
	text-align: center;
}

.our_works-title {
	font-family: 'Montserrat', serif;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
}

.our_works-text {
	margin-top: 2.5em;
	color: #fff;
}

.our_works-slider{
	margin: 3.5em auto 0;
}

.slider_inner {
	margin-top: 20px;
	position: relative;
}

.slick-list.draggable {
	overflow: hidden;
}

.slick-track {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.slick-dots {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.slick-slide-contro

.slider_item {
	height: 30.875em;
	/*width: 77vw;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.our_works-left {
	/*width: 49.75%;*/
	width: 47em;
}

.our_works-right {
	/*width: 49.75%;*/
	width: 47em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.our_work.left {
	height: 100%;
	width: 100%;
	display: block;
	background-image: url(../../Images/Layer_10.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.our_work.right {
	height: 49%;
	min-width: 49.5%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.our_work1 {
	background-image: url(../../Images/Layer_11.png);
}

.our_work2 {
	background-image: url(../../Images/Layer_14.png);
}

.our_work3 {
	background-image: url(../../Images/Layer_12.png);
}

.our_work4 {
	background-image: url(../../Images/Layer_13.png);
}

.reviews {
	padding: 4.375em 0 13.5em;
	position: relative;
	background-image: url(../../Images/Layer_17.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

.reviews_top {
	max-width: 77%;
	margin: 0 auto;
	text-align: center;
}

.reviews_title {
	font-family: 'Montserrat', serif;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}

.reviews_text {
	margin-top: 2.5em;
}

.reviews_content {
	padding: 3.25em 1em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.review {
	max-width: 28%;
}

.main_review {
	max-width: 32%;
}

.review_comment {
	margin-bottom: 0.8em;
	padding: 2.75em 1em 3.2em 4.35em;
	position: relative;
	border-radius: 1.25em;
	background-color: #e5e5e5;
	z-index: 2;
}

.review_comment::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%) rotate(45deg);
	height: 1.125em;
	width: 1.125em;
	background-color: #e5e5e5;
}

.main_review .review_comment {
	margin-bottom: 1em;
	padding: 2.75em 2em 5em 4.75em;
	background-color: #ffcb0f;
}

.main_review .review_comment::before {
	height: 1.4em;
	width: 1.4em;
	background-color: #ffcb0f;
}

.review_text {
	position: relative;
	font-size: 0.9375em;
	line-height: 1.5em;
	color: #393939;
}

.review_text::before {
	font-family: 'icomoon';
	content: "\e978";
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-115%, -43%);
	font-size: 3em;
	line-height: 1em;
	color: #989898;
}

.main_review .review_comment .review_text {
	font-size: 1em;
	color: #fff;
}

.main_review .review_comment .review_text::before {
	color: #fff;
}

.review_author {
	margin: 1em auto 0;
	display: block;
}

.author_img {
	max-height: 5em;
	max-width: 5em;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
}

.main_review .review_author {
	margin-top: 1.5em;
}

.author_name {
	margin-top: 0.85em;
	font-family: 'Montserrat', serif;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

.reviews_bottom {
	min-width: 95vw;
	padding: 3em 0 3.5em;
	position: absolute;
	bottom: -1em;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffcb0f;
}

.reviews_form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.form_headline {
	display: block;
}

.headline_title {
	font-family: 'Montserrat', serif;
	font-size: 2em;
	line-height: 1em;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	color: #2f3240;
}

.headline_subtitle {
	margin-top: 0.2em;
	font-size: 2.625em;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	color: #2f3240;
}

.reviews_form form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reviews_form input,
.reviews_form textarea {
	height: 2.8125em;
	padding: 0.9em 1.25em;
	border: none;
	border-radius: 0.625em;
	outline: none;
}

.reviews_form input {
	max-width: 15.5625em;
	min-width: 47%;
	font-size: 1em;
}

.form_name {

}

.reviews_form textarea {
	max-width: 24.375em;
	min-width: 74%;
	margin-top: 0.8125em;
	font-size: 1.23em;
	resize: none;
}

.reviews_form button {
	max-height: 2.8125em;
	width: 20%;
	margin-top: 0.8125em;
	border: none;
	border-radius: 0.625em;
	font-size: 1em;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	color: #fff;
	background-color: #2f3240;
}

footer {
	background-image: url(../../Images/Layer_4.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer {
	padding: 8em 0 5.5em;
	background-color: rgba(34,37,51, 0.9);
}

.footer_content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.subcontent_title {
	font-size: 1.5625em;
	font-weight: 300;
	color: #fff;
}

.subcontent {
	margin-top: 2.625em;
	display: block;
}

.about_company {
	max-width: 24%;
}

.about_text {
	margin-top: 1.25em;
	line-height: 1.5em;
	color: #fff;
}

.about_links {
	margin-top: 3em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.about_links a {
	height: 1.5em;
	width: 1em;
	padding: 1.375em 1.375em;
	position: relative;
	border-radius: 50%;
	background-color: #ffcb0f;
}

.about_links a + a {
	margin-left: 0.875em;
}

.explor_link {

}

.explor_content {

}

.explor_content li {

}

.explor_content li + li {
	margin-top: 1em;
}

.explor_content li a {
	margin: 0 0.625em 0 1.875em;
	padding: 0 0.2em;
	position: relative;
	text-decoration: none;
	color: #fff;
	transition-duration: 0.2s;
}

.explor_content li a::before {
	font-family: 'icomoon';
	content: "\f0da";
	position: absolute;
	top: 50%;
	left: -1.875em;
	transform: translateY(-50%);
	color: #fff;	
	transition-duration: 0.2s;
}

.explor_content li a:hover {
	margin: 0 0 0 2.5em;
	border-bottom: 3px solid #ffcb0f;
	color: #ffcb0f;
}

.explor_content li a:hover::before {
	font-size: 1.2em;
	color: #ffcb0f;
}

.latest_post {
	max-width: 20.5%;
}

.postes {
	display: block;
}

.post {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.post + .post {
	margin-top: 1.5em;
}

.post_date {
	max-height: 3.1em;
	min-height: 3.1em;
	min-width: 3.1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
}

.date_number {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	line-height: 0.8em;
	font-weight: 300;
	color: #fff;
}

.date_mounth {
	margin: 2px 0 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 0.8em;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}

.post_text {
	margin-left: 1em;
	line-height: 1.5em;
	color: #fff;
}

.contact_address,
.contact_mail,
.contact_phone {
	margin-left: 2.376em;
	position: relative;
	color: #fff;
}

.contact_mail {
	margin-top: 2.5em;
}

.contact_phone {
	margin-top: 2.5em;
}

.contact_address::before,
.contact_mail::before,
.contact_phone::before {
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	left: -2.375em;
	transform: translateY(-50%);
	font-size: 1em;
	color: #fff;
}

.contact_address::before {
	content: "\f041";
	left: -2.2em;
}

.contact_mail::before {
	content: "\f0e0";
}

.contact_phone::before {
	content: "\e900";
	top: 0;
	transform: none;
}
